.container {
  max-width: 100vw;
  padding: 0 1rem;
  margin: 3rem auto 0 250px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
}